@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #dee2e6;
  color: #020204;
}

/* hides scrollbar because ew */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  position: relative;
  min-height: 100dvh;
  background-color: #020204;
}

body {
  overscroll: none;
}
